<!DOCTYPE html>
<html lang ="en">
    <head>

    </head>

    <body>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between" role="navigation">
                <a class="navbar-brand">
                    <img style="height:25px" src="placeholder.png" alt="logo" id="logo">
                </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarContents">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#index.html"><b class="ex">Home </b></a>
                        <a class="nav-item nav-link" href="#q1.html"><b class="ex">Question 1</b></a>
                        <a class="nav-item nav-link" href="#q2"><b class="ex">Question 2</b></a>
                        <a class="nav-item nav-link" href="#aboutTraits"><b class="ex">About Traits</b></a>
                    </div>
                </div>
            </nav>
            </header>

            <body>
                <h2>Search Results: </h2>
                <div id="results-container">
                    <% if (isSong_ejs) { %>
                        <% for (let i = 0; i < songResults.length; i++) { %>
                            <form action="function" method="POST">
                                <label>Song Name: </label>
                                <input type="text" name="song" value="<%= songResults[i][1]%>" readonly></input>
                                <input type="text" name="id" value="<%= songResults[i][0]%>" readonly></input>
                                <p name="artist">Artist: <%=  songResults[i][5]%> </p>
                                <input type="submit" id="btn<%=  i%>" value="+"></input>
                            </form>
                        <% } %> 
                    <%} else {%> 
                        <% for (var i = 0; i < songsByArtist.length; i++){ %>
                            <p>Song Name: <%= songsByArtist[i]  %> </p>
                        <% } %> 
                    <% } %>
                </div>
            </body>
    </body>
</html>