<!DOCTYPE html>
<html lang="en">

<!-- track recommender search results page -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tt.css">
    <title>SpotifyU</title>
</head>

<body>
    <header>
        <img class="logo" img style="height:50px" src="images/spotifyu.png" alt="SpotifyU">
        <nav>
            <ul class="nav_links">
                <li><a href="home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="search">Search</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <section>
            <div class="containerTop">
                <div class="intro">
                    <h1>Search Results:</h1>
                </div>
            </div>
        </section>

        <div id="results-container">
            <% if (isSong_ejs) { %>
                <% for (let i=0; i < songResults.length; i++) { %>
                    <form action="trait-tracker" method="POST">
                        <label>Song Name: </label>
                        <input type="text" name="song" class="songCSS" value="<%= songResults[i][1]%> <%= songResults[i][5]%>" readonly></input>
                        <!-- <input type="text" name="song artist" class="songCSS" value="<%= songResults[i][1]%> <%= songResults[i][5]%>" readonly></input> -->
                        <input type="hidden" name="songID" value="<%= songResults[i][0]%>"></input>
                        <!-- <p name="artist">Artist: <%= songResults[i][5]%>
                        </p> -->
                            <input type="submit" class="containBtn" id="btn<%=  i%>" value="+"></input>
                    </form>
                    <% } %>
                        <%} else {%>
                            <% for (var i=0; i < songsByArtist.length; i++){ %>
                                <p>Song Name: <%= songsByArtist[i] %>
                                </p>
                                <% } %>
                                    <% } %>
        </div>
    </body>
</body>

</html>
